:root{
    --set_icons_size_1_1: 30px;
}
html.dark {
    background-image: url("./resource/BGIB.png");
    color: #bbb;
    --btn_settings_background-image: url("./resource/UIicons/darkmode_on.png");
    --btn_settings_area_invert: invert(60%);
    --btn_settings_area_invert_hover: invert(40%);
    --obj_background_color: rgba(0, 0, 0, 0.418);
    --obj_background_shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
    --obj_blur : blur(10px);
    --mainmenu_th_hover: rgba(0, 0, 0, 0.521);
}
html{
    background-image: url("./resource/BGIW.png");
    color: #343434;
    --btn_settings_background-image: url("./resource/UIicons/darkmode.png");
    --btn_settings_area_invert: invert(10%);
    --btn_settings_area_invert_hover: invert(100%);
    --obj_background_color: rgba(201, 201, 201, 0.226);
    --obj_background_shadow: 2px 7px 15px 8px rgba(95, 95, 95, 0.3);
    --obj_blur : blur(10px);
    --mainmenu_th_hover: rgba(201, 201, 201, 0.37);
}
body{
    padding: 80px 0 0 0;
}

/* ==============================================================오류 출력 */

.msg_invalid{
    position: fixed;
    top:0px;
    right:0px;
    width: 100%;
    height: 40px;
    z-index: 0;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.418);
    backdrop-filter: blur(10px);
    box-shadow: 2px 7px 15px 8px rgba(255, 0, 0, 0.3);
    padding: 10px 0 0 0;
    font-size: large;
    font-weight: bold;
    color: #bbb;
}
/* ==============================================================최상단버튼 */
.btn_settings{
    position: fixed;
    top:25px;
    right:20px;
    background-color: var(--btn_settings_background-color);
    background-image: url("./resource/UIicons/settings.png");
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-size: 100%;
    border:none;
    filter: var(--btn_settings_area_invert);
}

.btn_settings:hover{
    filter: var(--btn_settings_area_invert_hover);
}

.darkmode_settings{
    position: fixed;
    top:25px;
    right:60px;
    background-color: var(--btn_settings_background-color);
    background-image: var(--btn_settings_background-image);
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-size: 100%;
    border:none;
    filter: var(--btn_settings_area_invert);
}

.darkmode_settings:hover{
    filter: var(--btn_settings_area_invert_hover);
}

.visit_developer{
    position: fixed;
    top:25px;
    right:100px;
    background-color: var(--btn_settings_background-color);
    background-image: url("./resource/UIicons/blog.png");
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-size: 100%;
    border:none;
    filter: var(--btn_settings_area_invert);
}

.visit_developer:hover{
    filter: var(--btn_settings_area_invert_hover);
}

.visit_git{
    position: fixed;
    top:25px;
    right:140px;
    background-color: var(--btn_settings_background-color);
    background-image: url("./resource/UIicons/goGit.png");
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-size: 100%;
    border:none;
    filter: var(--btn_settings_area_invert);
}

.visit_git:hover{
    filter: var(--btn_settings_area_invert_hover);
}

/* ==============================================================최상단버튼 끝*/

/* ==============================================================body header */

.body_header{
    /* padding: 0.7% 0 0 0; */
    position: fixed;
    top:0px;
    right:0px;
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: var(--obj_background_color);
    backdrop-filter: var(--obj_blur);
    box-shadow: var(--obj_background_shadow);
    
}



/* ==============================================================Main Menu */

.MainMenu{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--obj_background_color);
    backdrop-filter: var(--obj_blur);
    box-shadow: var(--obj_background_shadow);
    width: 95%;
    height: 100px;
    border-radius: 20px;
}

.MainMenu_table{
    width:100%;
    height: 100%;
    font-size: larger;
    border-radius: 20px;
    table-layout: fixed;
    
}

.MainMenu_table_th{
    border-radius: 20px;
    user-select: none;
    text-align : center;
    vertical-align : middle;
}

.MainMenu_table_th:hover{
    background-color: var(--mainmenu_th_hover);
}

.MainMenu_table_th:active{
    background-color: rgba(0,0,0,0);
}


/* ==============================================================Setting Window */
.setting_window{
    position: fixed;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: var(--obj_background_color);
    backdrop-filter: var(--obj_blur);
    box-shadow: var(--obj_background_shadow);
}
/* 다운로드버튼 */
.down_settings{
    position: fixed;
    top:15px;
    right:20px;
    background-color: var(--btn_settings_background-color);
    background-image: url("./resource/UIicons/download.png");
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-size: 100%;
    border:none;
    filter: var(--btn_settings_area_invert);
}

.down_settings:hover{
    filter: var(--btn_settings_area_invert_hover);
}
/* 불러오기버튼 */
.import_settings{
    position: fixed;
    top:15px;
    right:60px;
    background-color: var(--btn_settings_background-color);
    background-image: url("./resource/UIicons/star.png");
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-size: 100%;
    border:none;
    filter: var(--btn_settings_area_invert);
}

.import_settings:hover{
    filter: var(--btn_settings_area_invert_hover);
}
/* 요소 추가/삭제 버튼 */
.append_link{
    position: fixed;
    top:15px;
    right:20px;
    background-color: var(--btn_settings_background-color);
    background-image: url("./resource/UIicons/add.png");
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-size: 100%;
    border:none;
    filter: var(--btn_settings_area_invert);
}

.append_link:hover{
    filter: var(--btn_settings_area_invert_hover);
}

label.remove_link{
    position: fixed;
    top:15px;
    right:60px;
    width: var(--set_icons_size_1_1);
    height: var(--set_icons_size_1_1);
    background-color: var(--btn_settings_background-color);
    background-image: url("./resource/UIicons/delete.png");
    border:none;
    background-size: 100%;
    filter: var(--btn_settings_area_invert);
}
input[type="checkbox"].remove_link{
    position: fixed;
    top:20px;
    right:90px;
}

.remove_link:hover{
    filter: var(--btn_settings_area_invert_hover);
}
/* 퀵 링크 부분 */
.set_MainMenu{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--obj_background_color);
    backdrop-filter: var(--obj_blur);
    box-shadow: var(--obj_background_shadow);
    width: 95%;
    height: 120px;
    border-radius: 20px;
    text-align: center;
}

.set_MainMenu_table{
    width:100%;
    font-size: larger;
    border-radius: 20px;
    table-layout: fixed
}

.set_MainMenu_table_th{
    border-radius: 20px;
    user-select: none;
    text-align : center;
    vertical-align : middle;
}

.set_MainMenu_table_th:hover{
    background-color: var(--mainmenu_th_hover);
}

.set_MainMenu_table_th:active{
    background-color: rgba(0,0,0,0);
}

.setting_division{
    text-align : center;
    padding: 20px 0 0 0;
}

/* 퀵 링크 부분끝 */


/* 시계 */
.TIME{
    font-size: 400%;
}
.Clock{
    text-align: center;
}